
/* Schedule View
------------------------------------------------------------------------*/

.fc .fc-unit-number {
  text-align: center;
  padding: 3px 8px;
  font-weight: bold;
  }

.fc .fc-unit-number div {
  padding: 0;
  }
